/*
filename:
sergio omar alvarado perez
author:
sergio omar alvarado perez
created:
3/17/2020
last modified:
3/17/2020
description:
lab03.html
*/
* {font-family: calabri,sans-serif; color: #2F4F4F;}
h1 {color:purple; font-size: 2em; font-weight: bold;}
h2 {color: rgb(0,128,128); font-size: 1.5em; font-weight: bold;}
aside, footer {font-style: italic;}
h1, h2, h3 {font-family: arial, sans-serif;}
table, th, td {border: 1px solid black;}
#images {text-align: center;}
#heading3 {color: red;}
.special {color: darkorange; font-weight: bold;}
.right {text-align: right;}
nav a {text-decoration: none;
  padding: 0.2em 0.6em;
  border: 4px solid #ccc;}
nav a:hover {background-color: lightblue; border-color: darkblue;}
ol ul {list-style-type: square;}
aside:hover {visibility: hidden;}
